# ignore data files/folders that are linked or distributed separately
index

gene-sets

# ignore data directory contents except for nested scripts and README for data download
data/*
!data/.gitkeep
!data/tabula-muris
data/tabula-muris/*
!data/tabula-muris/README.md
!data/tabula-muris/01_sra_download.sh
!data/tabula-muris/02_bamtofastq.sh

# ignore notebook results files/folders
analysis
qc-reports
!qc-reports/Bad_Example*alevinqc.html

